.comment{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    order: 1;
}

.resp{
    order: 2;
}

.input{
    display: flex;
    flex-direction: row;
}

.inputBox{
    border: none;
    outline: none;
}