.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-links {
    display: flex;
    gap: 20px;
    margin-right: 1200px;
  }
  
  .right-links {
    display: flex;
    gap: 20px;
  }
  